h1 {
  font-size: 2.25rem;
  line-height: 1;
  @media only screen and (max-width: 767px) {
    font-size: 2.05rem;
  }
  @media only screen and (max-width: 1024px) and (min-width: 768px) {
    font-size: 2.85rem;
  }
}

h2 {
  font-size: 1.75rem;
}
h3,
.h3 {
  font-size: 1.5rem;
}
h1,
h2,
h3 {
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}
p {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  line-height: 1.625;
  @media only screen and (max-width: 767px) {
    font-size: 1.1rem;
  }
}

.text-accent {
  color: var(--accent-primary);
}
.text-secondary {
  color: var(--accent-secondary);
}

.text-shadow {
  text-shadow: var(--text-shadow);
}

a.text-link {
  color: unset;
  padding: 2px 5px;
  box-shadow: inset 0 -5px 0 0 var(--accent-primary);
  transition: all 0.25s ease-in-out;
  text-decoration: none;

  &:hover {
    box-shadow: inset 0 -55px 0 0 var(--accent-primary);
  }
}

.bg-white * {
    color: black;
}