.hero {
  // padding-bottom: 50px;
  min-height: 58.5vh; // Default mobile view

  @media only screen and (min-width: 768px) {
    // Tailwind's 'md'
    min-height: 46vh;
    padding-top: 50px;
    // min-height: calc(100vh - 288px);
  }

  @media only screen and (min-width: 1024px) {
    // Tailwind's 'lg'
    // min-height: 61.6vh;
    // min-height: 72vh;
    padding-top: 62.5px;
    padding-bottom: 62.5px;
    // min-height: calc(100vh - 186px);
  }
}

ul {
  padding-left: 30px;

  li {
    position: relative;
    min-height: 20px;
    padding: 5px 0;

    &::before {
      content: "{ }";
      position: absolute;
      left: -25px;
      top: 10px;
      color: var(--accent-secondary);
      background: var(--accent-primary);
      border-radius: 50%;
      width: 20px;
      height: 20px;
      font-size: 12px;
      padding-bottom: 2.5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

// Mixin for applying animated gradient
@mixin animated-gradient {
  // background: linear-gradient(90deg, #ec1f2d, #1f184a, #b5539f, #03baaf);
  background: linear-gradient(90deg, var(--accent-primary), var(--accent-primary-lighter), var(--accent-primary-light), white);
  // background: linear-gradient(90deg, var(--accent-primary), var(--accent-secondary), var(--accent-tertiary), var(--accent-quaternary));
  background-size: 400% 100%; // Extends the background for movement
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  animation: gradient-shift 25s ease infinite; // Reference to the keyframes animation
}

.quote-section {
  text-align: center;
  padding: 100px 0;

  p {
    padding: 0 16px;
    font-size: 2rem;
    line-height: 1.6;
    @include animated-gradient; // Apply the mixin here

    em {
      display: block;
      margin-top: 10px;
      font-style: italic;
      font-size: 1rem;
      color: #ffd1e8;
    }
  }
}

// Define the animation keyframes
@keyframes gradient-shift {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

// Apply the same animated gradient effect to an h1 outside the quote section
.animated-heading {
  @include animated-gradient; // Reuse the mixin for the h1
  // padding: 20px 0; // Additional styling specific to h1
  // font-size: 2rem; // Larger font size for headings
}

@media only screen and (max-width: 1280px) {
  iframe.calendly-inline-widget {
    height: 1160px !important;
    overflow-y: hidden;
  }
  // .quote-section {
  // padding-top: 400px;
  // }
  canvas {
    height: 125vh !important;
  }
}
