/* In your global CSS */
.do-not-hide .conditional-visible {
  display: block;
}

@media (min-width: 768px) {
  .do-not-hide .conditional-visible {
    display: block !important;
  }

  // .conditional-visible:not(.do-not-hide *) {
  //   display: none;
  // }
  .conditional-visible {
    display: block;
  }
}
