.si {
  svg {
    height: 25px;
    width: auto;
    // fill: white;
    transition: all 0.25s ease-in-out; // Apply transition to all svg elements within .si
  }

  a {
    &:hover {
      svg {
        fill: white; // Change fill on hover
        fill: var(--accent-primary); // Change fill on hover
      }
    }
  }
}

.svg-icon {
  border: 1px solid black;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
  transition: all 0.25s ease-in-out; // Apply transition to .svg-icon and its descendant paths

  // Nested hover state for link hover effect
  a:hover & {
    background: var(--accent-secondary);
    border-color: var(--accent-secondary);
  }
}
